@import '../../node_modules/antd/dist/antd.css';

.primary-blue {
  color: #001529;
}

.secondary-blue {
  color: #3e83f8;
}

.tertiary-blue {
  color: #192c3e;
}

.fourth-blue {
  color: #304151;
}

.figma-blue {
  color: #1890ff;
}

.bp-gradient {
  background-image: -webkit-linear-gradient(to right, #1890ff, #ea1795); /* Webkit browsers */
  background-image: linear-gradient(to right, #1890ff, #ea1795); /* Standard browsers */
  -webkit-background-clip: text; /* Webkit browsers */
  background-clip: text;
  color: transparent;
}

.w-md-editor {
  background-color: inherit !important;
}

.wmde-markdown {
  background-color: inherit !important;
  font-family: unset !important;
}

.bp-button {
  @apply text-white bg-gradient-to-r from-blue-400 to-pink-600 hover:from-blue-400 hover:to-pink-500 focus:ring-1 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-300 font-medium rounded-xl text-sm px-5 py-2.5 text-center me-2 mb-2;
  font-weight: 500;
  @apply w-full;
}

.bp-button:disabled {
  @apply cursor-not-allowed opacity-50;
}

.primary-pink {
  color: #ea1795;
}

.primary-text {
  color: black;
}

.dark .primary-text {
  color: white;
}

.secondary-text {
  @apply text-gray-500;
}

.dark .secondary-text {
  @apply text-gray-400;
}

.link-color {
  color: #0000ee;
}

.primary-border {
  border: 1px solid grey;
}

.dark .primary-border {
  border: 1px solid white;
}

.gradient-bg {
  background: linear-gradient(0deg, rgb(241, 240, 240) 10%, white 100%);
}

.dark .gradient-bg {
  background: linear-gradient(0deg, black 10%, #001529 100%);
}

.card-bg {
  background: linear-gradient(0deg, rgb(241, 240, 240) 10%, white 100%);
}

.card-border {
  border: 1px solid grey;
}

.dark .card-border {
}

.dark .card-bg {
  background: linear-gradient(0deg, black 10%, #001529 100%);
}

.reverse-gradient-bg {
  background: linear-gradient(0deg, white 10%, rgb(241, 240, 240) 100%);
}

.dark .reverse-gradient-bg {
  background: linear-gradient(0deg, #001529 10%, black 100%);
}

.landing-padding {
  padding-left: 7vw;
  padding-right: 7vw;
}

.inherit-bg {
  background-color: inherit;
}

.primary-blue-bg {
  background-color: #001529;
}

.secondary-blue-bg {
  background-color: #3e83f8;
}

.tertiary-blue-bg {
  background-color: #192c3e;
}

.fourth-blue-bg {
  background-color: #304151;
}

.primary-pink-bg {
  background-color: #ea1795;
}

.ant-layout-header {
  height: unset !important;
}

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  color: white;
  background-color: #001529;
}

.App-header {
  width: 100%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
  /* border-bottom: 1px solid lightgray; */
  z-index: 1000;
  /* margin-bottom: 50px; */
  /* position: fixed;
    /* top: 0; */
  /* width: 100%; */
}

.App-title {
  color: white;
  font-weight: bolder;
}

.navbar-super-collapsed {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-collapsed {
  overflow: auto;
}

@media (max-width: 920px) {
  .navbar-expanded {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .navbar-super-collapsed {
    display: none !important;
  }

  .App-header {
    position: sticky !important;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
}

@media (min-width: 920px) {
  .navbar-collapsed {
    display: none !important;
  }
}

.App-link {
  color: #61dafb;
}

.site-layout-content {
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

#components-layout-demo-top .logo {
  /* float: left; */
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.dark .styled-button {
  background: #001529;
  /* transition: background 0.3s, border-color 0.3s, color 0.3s; */
  border: 2px solid white;
  color: white;
}
.styled-button {
  background: #001529;
  /* transition: background 0.3s, border-color 0.3s, color 0.3s; */
  border: 2px solid black;
  color: white;
}

.styled-button:hover {
  color: #1890ff;
  border: 2px solid #1890ff;
  background: initial;
}

.styled-button-normal {
  background: inherit;

  /* transition: background 0.3s, border-color 0.3s, color 0.3s; */
  border: 2px solid black;
  color: black;
}

.dark .styled-button-normal {
  background: inherit;
  /* transition: background 0.3s, border-color 0.3s, color 0.3s; */
  border: 2px solid white;
  color: white;
}

.styled-button-normal:hover {
  color: #1890ff;
  border: 1px solid #1890ff;
  background: initial;
}

.styled-button-blue {
  background: white;
  /* transition: background 0.3s, border-color 0.3s, color 0.3s; */
  border: 1px solid black;
  color: white;
}

.styled-button-blue:hover {
  color: #1890ff;
  border: 1px solid #1890ff;
  background: white;
}

.styled-button-modal {
  background: inherit;
  transition:
    background 0.3s,
    border-color 0.3s,
    color 0.3s;
  border: 1px solid;
  color: inherit;
}

.styled-button-modal:hover {
  color: #1890ff;
  border: 1px solid #1890ff;
  background: initial;
}

.opacity {
  opacity: 0.65;
}
.opacity:hover {
  opacity: 1;
}

.badge-avatar:hover {
  transform: scale(1.1);
}

.action-item {
  cursor: pointer;
}

.action-item:hover {
  background-color: #192c3e;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: inline;
  margin: 0;
  padding: 0;
}

.link-button-nav:hover {
  text-decoration: underline;
}

.scale:hover {
  transform: scale(1.01);
}

.full-area {
  width: 100%;
  padding: 0;
  margin: 0;
}
.full-width {
  width: 100%;
}

.primaryBg {
  background-color: #001529;
}

.primary-title {
  font-weight: bolder;
  color: white;
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 1.2;
  width: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

.badge-flex-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-page-info {
  border-radius: 10px;
  background: #3e83f8;
  box-shadow:
    inset 0 0 0 1px #ebebf0,
    0 15px 30px 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

.form-input {
  background-color: #001529;
  color: white;
}

.form-input-helper-text {
  font-size: 12px;
  text-align: left;
  color: lightgrey;
}

.account-socials-button {
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 20px;
  padding: 0px;
  margin: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dropdown {
  min-width: 250px;
  text-align: center;
}

.dropdown-item-disabled {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: not-allowed;
}

.dropdown-item {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item:hover {
  background-color: #3e83f8 !important;
  color: white !important;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 920px) {
  .collect-title {
    font-size: 48px;
    line-height: 54px;
  }
  .inline-logo {
    height: 54px;
  }
}

@media (min-width: 920px) {
  .collect-title {
    font-size: 72px;
    line-height: 89px;
  }

  .inline-logo {
    height: 72px;
  }
}

.collect-title {
  font-feature-settings:
    'clig' off,
    'liga' off;

  /* Heading/01 */
  font-family: 'Inter-SemiBold', Helvetica;

  font-style: normal;
  font-weight: 600;
}
@media (max-width: 768px) {
  .flex-center-if-mobile {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.landing-button {
  display: flex;
  width: 116px;
  padding: 4px 8px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  gap: 8px;
  border-radius: 39px;
  background: #1890ff;
  cursor: pointer;
  color: white;
  font-weight: bold;
  opacity: 1;
  display: flex;
  align-items: center;
}

.landing-button:disabled {
  background: lightgrey;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.landing-button:hover {
  border: 1px solid black;
  opacity: 1;
  background: inherit;
  border: 1px solid #1890ff;
  color: #1890ff;
}
/* 
.blockin-button {
  display: flex !important;
  width: 130px !important;
  padding: 4px 8px !important;
  justify-content: center !important;
  border: 1px solid black !important;
  align-items: center !important;
  gap: 8px !important;
  border-radius: 39px !important;
  background: #1890ff !important;
  cursor: pointer !important;
  color: white !important;
  font-weight: bold !important;
  opacity: 1 !important;
  display: flex !important;
  align-items: center !important;
}

.blockin-button:disabled {
  background: lightgrey !important;
  color: white !important;
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

.blockin-button:hover {
  border: 1px solid black !important;
  opacity: 1 !important;
  background: inherit !important;
  border: 1px solid #1890ff !important;
  color: #1890ff !important;
} */
@media (max-width: 920px) {
  .landing-logo {
    max-height: 100%;
    width: auto;
    max-width: 400px;

    max-width: 300px;
    margin: 30px;
  }
}

.tool-icon {
}

.styled-icon-button {
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 39px;
  background: #1890ff;
  cursor: pointer;
  color: white;
  font-weight: bold;
  align-items: center;
}

.styled-icon-button:disabled {
  background: lightgrey;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.styled-icon-button:focus {
  background: #1890ff;
  color: white;
}

.styled-icon-button:hover {
  border: 1px solid black;
  opacity: 1;
  background-color: inherit;
  color: #1890ff;
  border-color: #1890ff;
}

.transferability-row {
  min-height: 50px;
}

.transferability-row-more {
  background-color: inherit;
}

.transferability-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.dark .transferability-row:hover {
  background-color: #4a4a5b;
  cursor: pointer;
}

/* Default styles for larger screens */
.mobile-container {
  display: flex;
  justify-content: space-between;
}

/* Media query for smaller screens (adjust breakpoint as needed) */
@media (max-width: 768px) {
  .mobile-container {
    flex-direction: column;
    align-items: center;
  }
}
